bashrc.d/vars-homebrew-github-api-token.bash
config/fish/fish_variables
hammerspoon/Spoons/*
ipython/profile_default/db/
pip/cache
tmux/plugins
tmux/plugins/**
vim/autoload
vim/autoload/**
vim/black
vim/black/**
vim/plugged
vim/plugged/**
**/*.sqlite

# Overrides
!hammerspoon/Spoons/.gitkeep
!hammerspoon/Spoons/SpoonInstall.spoon
