emacs.d/auto-save-list
emacs.d/auto-save-list/**
emacs.d/elpa
emacs.d/elpa/**
hammerspoon/Spoons
hammerspoon/Spoons/**
ipython/profile_default/db/
pip/cache
tmux/plugins
tmux/plugins/**
vim/autoload
vim/autoload/**
vim/black
vim/black/**
vim/plugged
vim/plugged/**
**/*.sqlite

# Farmobile ignores
bashrc.d/99-farmobile-config.sh
zshenv.d/99-farmobile.zsh