[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/vim-flake8"]
	path = _vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/vim-colors-github"]
	path = _vim/bundle/vim-colors-github
	url = https://github.com/croaky/vim-colors-github.git
