[submodule "_vim/bundle/vim-colors-github"]
	path = _vim/bundle/vim-colors-github
	url = https://github.com/croaky/vim-colors-github.git
[submodule "_vim/bundle/python-syntax"]
	path = _vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "_vim/bundle/vim-virtualenv"]
	path = _vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "_vim/bundle/vim-django"]
	path = _vim/bundle/vim-django
	url = https://github.com/cwood/vim-django.git
