hammerspoon/Spoons/*
ipython/profile_default/db/
pip/cache
tmux/plugins
tmux/plugins/**
vim/autoload
vim/autoload/**
vim/black
vim/black/**
vim/plugged
vim/plugged/**
**/*.sqlite

# Farmobile ignores
bashrc.d/vars-farmobile.bash

# Overrides
!hammerspoon/Spoons/.gitkeep
!hammerspoon/Spoons/SpoonInstall.spoon
