"*":
  "exception-reporting":
    userId: "db89ded5-39eb-6248-fadf-e0dbc51e24c0"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    fontFamily: "Menlo"
    fontSize: 11
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 8
    tabLength: 4
    preferredLineLength: 119
  "multi-wrap-guide":
    columns: [
      72
      79
      99
      119
    ]
    locked: true
  linter: {}
  "autocomplete-python": {}
  "linter-flake8":
    maxLineLength: 99
".coffee.source":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
"html.source":
  editor:
    tabLength: 2
